*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main{
    margin: 6rem 6rem 3rem;
}

.texto_box{
    color: #fff;
    margin: 2rem 0rem;
    padding: 3rem;
    width: 70%;
    background: #006CA6;
    border-radius: 2rem;
    box-shadow: 1rem 8px 25px #6a6a6a;
}

.texto_box h2{
    font-weight: 700;
    display: flex;
    justify-content: center;
}

p{
    padding: 8px;
}

.autor_data{
    padding: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.autor_data h1{
    font-weight: 800;
}

a{
    color: #fff;
    color: yellow;
    text-decoration: none;
}

a:hover{
    color: yellow;
    font-size: 20px;
}


.indent {
    padding-left: 2em;
}
